@model VolunteerUpdateDto
@{
	ViewData["Title"] = "VolunteerUpdate";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Gönüllü Bilgileri Sayfası</h1>

<form method="post">
	<input type="hidden" asp-for="VolunteerId" />
	<input type="hidden" asp-for="Name" />
	<input type="hidden" asp-for="Surname" />
	<label>Email</label>	
	<input type="email" asp-for="VolunteerEmail" class="form-control" />
	<span asp-validation-for="VolunteerEmail" class="text-danger"></span>
	<br />

	<label>Şehir</label>
	<input type="text" asp-for="City" class="form-control" />
	<span asp-validation-for="City" class="text-danger"></span>
	<br />
	<label>Telefon</label>
	<input type="text" asp-for="VolunteerPhone" class="form-control" />
	<span asp-validation-for="VolunteerPhone" class="text-danger"></span>
	<br />
	<label>Hakkımda</label>
	<textarea rows="6" cols="50" asp-for="About" class="form-control"></textarea>
	<span asp-validation-for="About" class="text-danger"></span>
	<br />
	<button class="btn btn-info">Güncelle</button>
</form>


