@model List<VolunterListDto>
@{
    ViewData["Title"] = "VolunteerList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int sayac = 0;
}


<h1>Blog Listesi</h1>

<table class="table  table-bordered">
    <tr>
        <th>No</th>
        <th>Adı</th>
        <th>Soyadı</th>    
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detay</th>
    </tr>
    @foreach (var item in Model)
    {
        sayac++;
            <tr>
                <td>@sayac</td>
                <td>@item.Name</td>      
                <td>@item.Surname</td>
            <td><a href="/Admin/Volunteer/VolunteerDelete/@item.VolunteerId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/Volunteer/VolunteerUpdate/@item.VolunteerId" class="btn btn-success">Guncelle</a></td>
            <td><a href="/Admin/Volunteer/GetById/@item.VolunteerId" class="btn btn-warning">Detay</a></td>
            </tr>

    }

</table>


