@model CampaignCreateDto
@{
    ViewData["Title"] = "CampaignAdd";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Kampanya</h1>

<form method="post">

    <label>Kampanya Adı</label>
    <input type="text" asp-for="CampaignName" class="form-control" />
    <span asp-validation-for="CampaignName" class="text-danger"></span>
    <br />     
    <label>Açıklama</label>
    <textarea rows="6" cols="50" asp-for="CampaignDescription" class="form-control"></textarea>
    <span asp-validation-for="CampaignDescription" class="text-danger"></span>
    <br />
    <button class="btn btn-info">Yeni Kampanya Ekle</button>
</form>

