<footer class="cpy-right bg-theme" data-blast="bgColor">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="wthree-social">
					<ul>
						<li>
							<a href="https://www.linkedin.com/in/tubazorlu/" target="_blank">
								<span class="fa fa-linkedin icon_linkedin"></span>
							</a>
						</li>
						<li>
							<a href="https://github.com/TubaZorlu">
								<span class="fa fa-github "></span>
							</a>
						</li>
						<li>
							<a href="https://www.tubazorluresume.com.tr/UserUI/Index">
								<span class="fa fa-dribbble"></span>
							</a>
						</li>
					
					</ul>
				</div>
			</div>
			<div class="col-lg-6 text-lg-right mt-lg-0 mt-4">
				<p>
					© 2018 Doğal Yaşam Vakfı. All rights reserved | Design by
					<a href="http://w3layouts.com"> W3layouts.</a>
				</p>
			</div>
		</div>
	</div>
</footer>