<header>
	<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-expand-lg navbar-light navbar-fixed-top">
		<h1>
			<a class="navbar-brand" href="index.html" data-blast="color">
				Doğal Yaşamı Koruma Vakfı
			</a>
		</h1>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mx-lg-auto text-center">
				<li class="nav-item active">
					<a class="nav-link" href="#home" data-blast="color">
						Ana Sayfa
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item  mt-lg-0 mt-3">
					<a class="nav-link scroll" href="#about">hakkımızda</a>
				</li>
				<li class="nav-item mt-lg-0 mt-3">
					<a class="nav-link scroll" href="#services">Çalışmalarımız</a>
				</li>
				
				<li class="nav-item dropdown mt-lg-0 mt-3">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
					   aria-haspopup="true" aria-expanded="false">
						daha fazlası
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item scroll nav-link" href="#plans">Projeler</a>
						<a class="dropdown-item scroll nav-link" href="#posts">Son Gönderiler</a>
						<a class="dropdown-item scroll nav-link" href="#volunteer">Gönüllü Ol</a>
						<a class="dropdown-item scroll nav-link" href="#bagis">Bagis Yap</a>

						<a class="dropdown-item scroll nav-link" href="#contact">İletişim</a>
					</div>
				</li>

			</ul>

			@*<button type="button" class="btn  wthree-link-bnr bg-theme rounded-circle text-center mt-lg-0 mt-3"  data-blast="bgColor">
			<span class="text-white">ADMİN</span>
			</button>
			*@
			<a href="~/Login/Index" class="btn  wthree-link-bnr bg-theme rounded-circle text-center mt-lg-0 mt-3" data-blast="bgColor">
				<span class="text-white">ADMİN</span>
			</a>
		</div>

	</nav>
</header>
<ul class="rslides" id="slider3">
	<li class="banner banner1">
		<div class="container">
			<div class="banner-text">
				<div class="slider-info">
					<h3>Koruma</h3>
					<span class="line"></span>
					<p>Hayvanları Korumak Geleceğimizi Korumaktır</p>
					<a class="btn bg-theme mt-4 w3_pvt-link-bnr scroll" data-blast="bgColor" href="#about"
					   role="button">
						Daha
						Fazla
					</a>
				</div>
			</div>
		</div>
	</li>
	<li class="banner banner2">
		<div class="container">
			<div class="banner-text">
				<div class="slider-info">
					<h3>Dayanışma</h3>
					<span class="line"></span>
					<p>Birlikte yürümenin gücü İle yuvamıza sahip çıkıyoruz</p>
					<a class="btn bg-theme mt-4 w3_pvt-link-bnr scroll" data-blast="bgColor" href="#about"
					   role="button">
						Daha
						Fazla
					</a>
				</div>
			</div>
		</div>
	</li>
	<li class="banner banner3">
		<div class="container">
			<div class="banner-text">
				<div class="slider-info">
					<h3>Keşfetme</h3>
					<span class="line"></span>
					<p>Bilimsel araştırmalar eşiğinde çalışmalarımızı destekliyoruz</p>
					<a class="btn bg-theme mt-4 w3_pvt-link-bnr scroll" data-blast="bgColor" href="#about"
					   role="button">
						Daha
						Fazla
					</a>
				</div>
			</div>
		</div>
	</li>
</ul>
</div>