@model List<ProjectListDto>
<section class="py-lg-5 py-4" id="plans">
	<div class="container py-md-5">
		<div class="title-desc text-center pb-sm-3">
			<h3 class="main-title-w3pvt">Aktif Projeler</h3>
			<p>Herkes için yaşanabilir daha iyi daha güzel bir dünya.</p>
		</div>
		<div class="row price-row">

			@foreach (var item in Model)
			{
				<div class="col-lg-4 col-sm-6 column mb-lg-0 mb-4">
					<div class="box" data-blast="borderColor">
						<div class="title">
							<span class="fa fa-gg" data-blast="color"></span>
							<h5 data-blast="color">@item.Title</h5>
						</div>
						<div class="price">
							<h6>Proje Bedeli - <sup>$</sup><span class="font-weight-bold">@item.FundNeed</span></h6>
						</div>
						<div class="option">
							<ul>
								<li>Bölge</li>
								<li>@item.Area</li>
								<li>Durumu</li>
								@if (item.Status==true)
								{
									<li>Bağışa Açık</li>
								}
							</ul>
						</div>
						<a href="/WebSite/SiteDonor/MakeADonation" class="btn w3ls-btn bg-theme  d-block" aria-pressed="false"
						 data-blast="bgColor">
							Bağış Yap
						</a>
					
					</div>
				</div>

			}


		</div>
	</div>
</section>