@model FeatureUpdateDto
@{
    ViewData["Title"] = "FeatureUpdate";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Çalışma Güncelleme Sayfası</h1>

<form method="post" >
	<label>Başlık</label>
	<input type="hidden"  asp-for="FeatureId"/>
	<input type="text" asp-for="Title" class="form-control" />
	<span asp-validation-for="Title" class="text-danger"></span>
	<br />
	<br />
	<label>Açıklama</label>
	<textarea rows="4" cols="50" asp-for="Descriptin" class="form-control"></textarea>
	<span asp-validation-for="Descriptin" class="text-danger"></span>
	<br />
	<button class="btn btn-info">Güncelle</button>
</form>


