<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Project_ProtectToFurture.UILayer</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<header>
		<div class="w3-sidebar w3-light-grey w3-bar-block">
			<h3 class="w3-bar-item">Menü</h3>
			<a href="/Admin/About/GetAll/" class="w3-bar-item w3-button">Hakkımızda</a>
			<a href="/Admin/Blog/GetAll" class="w3-bar-item w3-button">Çalışmalarımız</a>
			<a href="/Admin/Project/ProjectList" class="w3-bar-item w3-button">Projeler</a>
			<a href="/Admin/Donor/DonorList/" class="w3-bar-item w3-button">Bağışçılar</a>
			<a href="/Admin/Feature/FeatureList/" class="w3-bar-item w3-button">Bloglar</a>
			<a href="/Admin/Volunteer/VolunteerList/" class="w3-bar-item w3-button">Gönüllüler</a>
			<a href="/Admin/Contact/ContactList/" class="w3-bar-item w3-button">İletişim</a>
			<a href="/Admin/AdminManagement/Callender/" class="w3-bar-item w3-button">Ajanda</a>
		</div>
	</header>
	<div class="container">
		@RenderBody()
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2023 - Project_ProtectToFurture.UILayer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
