@model BlogCreateDto
@{
	ViewData["Title"] = "BlogAdd";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Blog Ekleme Sayfası</h1>

<form method="post" enctype="multipart/form-data">
	<label>Başlık</label>
	<input type="text" asp-for="Title" class="form-control" />
	<span asp-validation-for="Title" class="text-danger"></span>
	<br />


	<label>Döküman</label>
	<input type="file" class="form-control" asp-for="ImageUrl" style="height:45px">
	<span asp-validation-for="ImageUrl" class="text-danger"></span>

	<br />
	<label>Açıklama</label>
	<textarea rows="4" cols="50" asp-for="Description" class="form-control"></textarea>
	<span asp-validation-for="Description" class="text-danger"></span>
	<br />
	<button class="btn btn-info">Kaydet</button>
</form>

