@model ResetPasswordDto
@{
	Layout = null;
}



-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Snow Login form Responsive Widget Template : W3Layouts</title>

	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Style -->
	<link rel="stylesheet" href="~/Login/css/style.css" type="text/css" media="all" />


</head>

<body>
	<!-- login form -->
	<section class="w3l-login">
		<div class="overlay">
			<div class="overlay">
				<div class="wrapper">
					<div class="logo">
						<a class="brand-logo" href="index.html"></a>
					</div>
					<div class="form-section">
						<h3>Şifre Yenileme</h3>

						<form asp-controller="ForgotPassword" asp-action="ResetPassword" method="post" class="signin-form">
				

							<input type="hidden" asp-for="Email" />
							<input type="hidden" asp-for="Token" />
							<div class="form-input">
								<input type="password" asp-for="Password" placeholder="Şifre" required="">
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>
							<div class="form-input">
								<input type="password" asp-for="ConfirmPassword" placeholder="Şifre Tekrarı" required="">
								<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
							</div>

							<button type="submit" class="btn btn-primary theme-button mt-4">Şifremi Yenile</button>
							<div class="new-signup">
								<a href="#reload" class="signuplink"></a>
							</div>
							<div asp-validation-summary="All" class="text-danger" style="color:red"></div>
						</form>

					</div>
				</div>
			</div>
			<div id='stars'></div>
			<div id='stars2'></div>
			<div id='stars3'></div>


			<div class="copy-right">
			</div>

	</section>


</body>

</html>
