@{
	Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">
@await Html.PartialAsync("/areas/website/views/LayoutPartial/_HeadPartial.cshtml")

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	
	<div id="home">
		@await Html.PartialAsync("/areas/website/views/LayoutPartial/_ColorPartial.cshtml")
	    @await Html.PartialAsync("/areas/website/views/LayoutPartial/_HeaderPartial.cshtml")		
	</div>
	
	@RenderBody()
	
	@await Html.PartialAsync("/areas/website/views/LayoutPartial/_FooterPartail.cshtml")
	@await Html.PartialAsync("/areas/website/views/LayoutPartial/_ScriptPartial.cshtml")
</body>

</html>