@model CampaignListDto
@{
	Layout = null;
}



<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Snow Login form Responsive Widget Template : W3Layouts</title>

	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Style -->
	<link rel="stylesheet" href="~/Login/css/style.css" type="text/css" media="all" />

</head>

<body>
	<!-- login form -->
	<section class="w3l-login">
		<div class="overlay">
			<div class="wrapper">
				<div class="logo">
					<a class="brand-logo" href="index.html"></a>
				</div>
				<div class="form-group">
					<h3 style="color:darkgreen; font-family:Britannic">@Model.CampaignName </h3>
					<br />
					<p style="color:white">
						@Model.CampaignDescription
					</p>

					<br />
					<a href="/WebSite/Signature/CreateSignature/@Model.CampaignId" style="color:white;text-decoration:underline" class="btn btn-outline-success">İmza Ver</a>

				</div>
			</div>
		</div>
		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>

		<!-- copyright -->
		<div class="copy-right">
		</div>
		<!-- //copyright -->
	</section>


</body>

</html>
