<div class="abt_bottom py-lg-5 bg-theme" data-blast="bgColor" id="volunteer">
	<div class="container py-sm-4 py-3">
		<h4 class="abt-text text-capitalize text-sm-center mb-0">Doğaya Yardım Misyonuna Katılın</h4>
		<p class="text-white text-sm-center ">Doğaya ayırdığınız vakit, bir toplantı saati kadar kesin değildir, bir yere yetişmez insan doğadayken, acele etmemenin tadını çıkarır.
			Doğada olmanın güzel yanı, acele etmediğini bilmek. Vücut saatiniz size burada koşacak bir durum yok der sanki.</p>
		<div class="d-sm-flex justify-content-center">
			<a href="/WebSite/SiteVolunteerRegister/VolunteerCreate" class="btn light-bg mt-4 ml-sm-3 w3_pvt-link-bnr">
				Gönüllü Ol
			</a>
			<a href="/WebSite/SiteDonor/MakeADonation" class="btn light-bg mt-4 ml-sm-3 w3_pvt-link-bnr">
				Bağış Yap
			</a>
			<a href="/WebSite/Signature/CampaignDetails" class="btn light-bg mt-4 ml-sm-3 w3_pvt-link-bnr">
				İmza Ver
			</a>
		</div>
	</div>
</div>